create folder on local 
create repo og Github

on terminal: 
git init
git remote add origin giturl
git branch -M main

can check user here
git config user.name

create readme.md

git add .
git commit -m "message"
git push -u origin main

check if file 